@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }
html
{
    font-size: 10px;
}
body{
    font-family:'Open sans',sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 990px;
    padding: 5rem 20px;
}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

